/*Famobra.css */

/* *************
 *  General
 **************** */

/* IE overflow Fix from http://stackoverflow.com/questions/19138107/ie11-flexbox-preventing-text-wrapping 

.row div {
box-sizing: border-box; 
max-width: 100%; 
}
*/

body {
    font-family: 'Montserrat', Helvetica , sans-serif !important;
  font-weight : 400;
    background: #104E59 !important;
}

body,
body p{
    font-size: 16px;
}

a {
	color : #45a29b;
    font-family: 'Montserrat', Helvetica , sans-serif !important;
  font-weight : 500;
}


footer .active > a {
    background-color: transparent !important;
}


h1 {
    font-family: 'Montserrat', Helvetica , sans-serif !important;
  font-weight : 500;
    font-size: 34px;
  margin-bottom : 1em;
	color : #003158;
}

h2 {
    font-family: 'Montserrat', Helvetica , sans-serif !important;
  font-weight : 500;

  font-size: 30px;
	color : #003158;

}


h3, 
h4,
h5 {
	color : #003158;
    font-family: 'Montserrat', Helvetica , sans-serif !important;

} 



blockquote {
    font-family: 'Montserrat', Helvetica , sans-serif !important;
	font-style :italic;
  padding: 0px 50px;
    margin: 0 0 1.5em;
    border-left: none;
}

blockquote p {
    font-family: 'Montserrat', Helvetica , sans-serif !important;
	font-style :italic;
	color : #45a29b;
      font-size: 20px;
    line-height: 1.6em;
}

blockquote p em {
    font-family: 'Montserrat', Helvetica , sans-serif !important;
  font-size : 14px;
    font-style: normal;  
}

section .btn {
padding: 15px;
font-size: 16px;
    font-family: 'Montserrat', Helvetica , sans-serif !important;
}

::selection {
  background: #e0dc42; /* WebKit/Blink Browsers */
  color : black;
}
::-moz-selection {
  background: #e0dc42; /* Gecko Browsers */
  color : black;
}


/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row.row-eq-height,
.row-eq-height .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.negative-bottom-margin {
	margin-bottom : -30px;
}


/* *************
 *  Images
 **************** */
.figure img {
    max-width: 100%;
}




/* *************
 *  Header 
 **************** */

#mobilemenu {
	display : none;
}

#mobilemenu .navbar-nav>li>.dropdown-menu li {
  	padding : 6px;
}


@media (min-width: 768px) { 
  .dw-logoimage {
  	max-width : 300px;
    padding: 36px 0px;
  }
  

  
}

.top-header .top-header-menu {

}

.top-menu {
	float : right;
}

.top-header .top-header-menu > ul.top-menu > li > a, 
.top-header .top-header-menu > ul.top-menu > li > form > span {
    font-size: 14px;	
    font-family: 'Montserrat', Helvetica , sans-serif !important;
  font-weight : 400;
}

.loginlink {
display :none;
}

ul.loginlink li:last-child a:after {
	content : url('../Images/lock2.png');
	padding-left : 5px;
}


.cta-header {
min-width :400px;
  right: 0;
padding-top: 60px;
  padding-right: 15px;

  text-align : right;
}

.cta-header p a,
.cta-header p{
 
    font-size: 13px !important;
    color: black;
    line-height: 15px !important;
    font-family: Muli, Helvetica , sans-serif !important;
 
}

.cta-header p{
padding-right: 42px;
}
  
.cta-header img {
	width : 42px;
	margin-left : 15px;
	margin-bottom : 15px;
}

.cta-header h3 a,
.cta-header h3 {
  font-size: 13px !important;  
  color : black;
  margin : 0;
    font-family: muli, Helvetica , sans-serif !important;
    font-weight: 800;  
padding-bottom : 3px;
}

                                    .notificationbox {
                                        width: 390px;
                                        float: left;
                                        margin-top: 49px;
      margin-left: -40px;
                                        background-color: #DFDA50;
                                        padding: 11px;
                                        line-height: 1.4;
                                        font-size: 14px;
                                    }

                                    @media only screen and (max-width: 992px) {
                                        .notificationbox {
    	                                	width: auto;
        	                                margin-top: 5px;
            	                            margin-bottom: 15px;
        margin-left: auto;
                                    	}
                                    }
  
/* *************
 *  Main menu
 **************** */

.navbar-navigation {
	width : 100%;
}

.navbar-navigation nav {
	float: none!important;
}

#topnavigation {
    display: table;
    width: 100%;
    table-layout: fixed;
}
#topnavigation > li {
    display: table-cell;
    float: none; 
  	width : 15%;
}
#topnavigation a {
    display: block;
    text-align: center;
}

#topnavigation li:first-child {
	display : none;
}

#navOne.affix-bottom {
    position: fixed !important;
    top: 0 !important;  
}

.navbar-wp .dropdown-menu {
	border-bottom: 4px solid #e0dc42 !important;	
}

.navbar-wp .navbar-nav  > li > a,
#topnavigation .dropdown-menu li a
{
    font-family: 'Montserrat', Helvetica , sans-serif !important;
  font-weight : 400;

	font-size: 16px;  
/*  text-transform : uppercase;*/
}

.navbar-nav>li>.dropdown-menu {
    background-color: #b2b2b2;	
    padding: 0;
    margin:0;
}

#topnavigation .dropdown-menu li {
    display: block;
    float: none;

}

#topnavigation .dropdown-menu li a {
	text-align : left;
    color : white;
  padding : 7px 30px;
}

#topnavigation .dropdown-menu li:first-child {
  padding-top : 25px;
}


#topnavigation .dropdown-menu li:last-child {
  padding-bottom : 25px;
}

#topnavigation .dropdown-menu li a:hover {
    background: #e0dc42!important;
   
    color: #45a29b;
}

#topnavigation .dropdown-menu li.active {
    background: transparent!important;
   
    color: #45a29b;
}


#topnavigation .dropdown-menu > li > a:focus, 
#topnavigation .dropdown-menu > li > a:hover {
    color: #262626 !important;
    text-decoration: none;
    background-color: none;
}


.dw-navbar-button > a, 
.navbar-wp.affix .navbar-nav > li > a {
/*    padding: 25px 7px 25px 7px !important;*/
}

/* *************
 *  Slider
 **************** */

.carousel .carousel-inner {
    height: 440px;
}

.carousel-inner>.item>img {
	width : 100%;
}

.carousel-inner .item {
	height: 100%;
}

.carousel-inner .item img {
	max-width: 100%; 
	position: absolute;  
	top: 0;  
	bottom: 0;  
	left: 0;  
	right: 0;  
	margin: auto;
}

.carousel-inner h2 {
    font-family: 'Montserrat', Helvetica , sans-serif !important;
  font-weight : 500!important;
  font-size: 50px;
    color: #FFFFFF;
    line-height: 1;
    text-transform: none;
    letter-spacing: 0;
	padding: 0;
    margin: 12px 0;
}

.carousel-caption {
    background-color: rgba(69, 162, 155, 0.7);
  	bottom: auto;
    max-width : 750px;
    margin-right: auto;
    margin-left: auto;  
    padding-top: 20px;  
    padding-bottom: 20px;  
  text-shadow : none;
      top: 50%;
    transform: translateY(-50%);
}

.carousel-fade .carousel-inner > .item {
    transition-property: opacity;
}
.carousel-fade .carousel-inner > .item,
.carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
}
.carousel-fade .carousel-inner > .item.active,
.carousel-fade .carousel-inner > .item.next.left {
    opacity: 1;
}
.carousel-fade .carousel-inner > .next,
.carousel-fade .carousel-inner > .prev,
.carousel-fade .carousel-inner > .active.left,
.carousel-fade .carousel-inner > .active.right {
    left: 0;
}
.carousel-fade .carousel-inner > .item.next,
.carousel-fade .carousel-inner > .item.active.right,
.carousel-fade .carousel-inner > .item.prev,
.carousel-fade .carousel-inner > .item.active.left {
    transform: translate3d(0, 0, 0);
}

.carousel-control {

    filter: alpha(opacity=20);
    opacity: .2;
}

/* *************
 *  Brand Slider
 **************** */

.carousel-indicators li {
    box-shadow: 1px 1px 5px rgba(115, 115, 115, 0.7);	
}

#myBrandCarousel {
	margin-top : 30px;
}

#myBrandCarousel .carousel-inner .item img {
    max-width: 1000px;
}

#myBrandCarousel .carousel-control,
.niceCarousel .carousel-control{
	background-image : none;
	opacity: .7;  
	width: 3%;
    color: #000;
    text-align: center;
    text-shadow: none;
}

#myBrandCarousel .carousel-control .glyphicon-chevron-left, 
#myBrandCarousel .carousel-control .glyphicon-chevron-right, 
#myBrandCarousel .carousel-control .icon-next, 
#myBrandCarousel .carousel-control .icon-prev,
.niceCarousel .carousel-control .glyphicon-chevron-left, 
.niceCarousel .carousel-control .glyphicon-chevron-right, 
.niceCarousel .carousel-control .icon-next, 
.niceCarousel .carousel-control .icon-prev
{
	font-size: 18px;
}


/* *************
 *  Centered start
 **************** */

.splash_bar  {
  position : relative;
  margin-top : -32px;
}

.centered_start {
	padding-top : 60px;
	padding-bottom : 60px;
}

.centered_start.slim {
	padding-top : 15px;
	padding-bottom : 15px;
}

.bar_color_grey {
    background-color: #f2f2f2;
}

.bar_color_green {
    background-color: #45a29b;
	color : white;
}

.bar_color_green h1,
.bar_color_green blockquote p,
.bar_color_green a {
	color : white;  
}



/* *************
 *  Form
 **************** */

.contact_form form {
	padding : 15px;
}


.contact_form .formtable {
  	width : 100%;
}

.contact_form .columnCell {
  	width : 50%;
}


.contact_form .firstColumn,
.contact_form .secondColumn{
  	width : 100%;	
}

.contact_form .labelRow {
	display :none; 
}

.contact_form .formtable input[type="text"], 
.contact_form .formtable input[type="password"], 
.contact_form .formtable textarea {
    min-width: auto;
    width: 100%;
	padding : 15px;
	background-color: #f2f2f2;
  border : none;
  min-height : 50px;
}


.contact_form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}
.contact_form ::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}
.contact_form :-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
.contact_form :-moz-placeholder { /* Firefox 18- */
  color: #000000;
}

.contact_form textarea{
	height : 111px;
}

.contact_form  input[type="submit"] {
	background-color : #45a29b;
	padding: 15px;  
  border : none;
  color : white;
min-width: 50%;
float: right;
}

			.contact_form  .formtable td {
				padding: 3px;
			}

			.contact_form  .formtable .columnCell {
				vertical-align: top;
			}

			.contact_form  .formtable .labelCell {
				vertical-align: top;
				padding-right: 10px;
			}


			.contact_form  .formtable .descriptionCell {
				font-size: 0.8em;
				opacity: 0.8;
				padding: 0px;
				padding-left: 3px;
				padding-bottom: 5px;
				max-height: 0.8em;
				line-height: 1.0em;
			}

			.contact_form  .formtable input[type=text],
			.contact_form  .formtable input[type=password],
			.contact_form  .formtable textarea {
				min-width: 250px;
			}

}		.gdpr-mergeRow{
			margin:10px 0;
			color:#4a4a4a;
			font-family:Helvetica;
		}
		.gdpr-content{
			margin:0 -20px 0 -20px;
			padding:20px 20px 10px 20px;
			background:rgba(255, 255, 255, 0.8);
		}
		.gdpr-content p{
			font-size:13px;
			line-height:1.5;
		}
		.gdpr-content label{
			color:#4a4a4a;
			font-family:Helvetica;
		}
		.gdpr-content .checkbox-group label{
			font-weight:normal;
			font-size:13px;
		}
		.gdpr-footer{
			margin:0 -20px 0 -20px;
			padding:20px;
			background:rgba(255, 255, 255, 0.9);
			overflow:auto;
			color:#4a4a4a;
		}
		.gdpr-footer p{
			font-size:11px;
			line-height:1.5;
			margin-bottom:0;
		}
		.gdpr-footer a{
			color:#206578;
		}
		.gdpr-footer img{
			width:65px;
			float:left;
			margin-right:15px;
		}


/* *************
 *  productpagelist 
 **************** */

.productpagelist-item .row {
	padding-right: 20px;
}

.productpagelist-item h4{
color: white;
padding: 23px 0;
background-color: #104e59;
text-align: center;
margin: 0px 0 20px;
}

.productpagelist-item a:hover h4 {
    color: #45A29B;
}

.productpagelist .productpagelist-item:last-child h4 {
	background-color: #45a29b;
}

/* *************
 *  Mobile menu 
 **************** */


.navmenu-default, .navbar-default .navbar-offcanvas {
    background-color: #45a29b;
    border-color: #0a532d;
}

#myNavmenu a {
    color: #fff;
    font-family: 'Montserrat', Helvetica , sans-serif !important;
  font-weight : 400;

}

#myNavmenu .nav > li > a {
    padding: 10px 5px;
}

.nav-pills > li > a:hover, 
.nav-pills > li > a:focus,
#myNavmenu .nav > li > a:focus, 
#myNavmenu .nav > li > a:hover{
    color: #FFFFFF !important;
    background: none repeat scroll 0 0 #02652B !important;
}

.offcanvas-menubtn {
    padding-left: 10px !important;
    margin-right: 10px !important;
}


/* *************
 *  Footer
 **************** */

footer {
    padding-top: 40px;
}

.footer a {
    font-family: 'Montserrat', Helvetica , sans-serif !important;
  font-weight : 300;
}

footer p,
footer .col p {
    font-family: 'Montserrat', Helvetica , sans-serif !important;
  font-weight : 300;

	font-size: 14px;
	line-height: 19px;
}


footer a:hover, 
footer a:focus, 
footer a:active {
    color: #fff !important;
}

.footer li {
    line-height: 20px !important;
}

footer h4,
footer h5{
	font-size : 14px !important;
	line-height : 1.2;
}

footer h5 {
    color: white;
	margin-top: 1.2em;
	margin-bottom: 0.2em;  
}


footer .copyright {
	margin-top : 50px;
	font-size : 13px!important; 
}

footer .copyright a,
footer .copyright p {
	font-size : 13px!important; 
}

/* *************
 *  header with image
 **************** */

.headerimage {
  	text-align : center;

    background: #eeeeee; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff, #eeeeee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #eeeeee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #eeeeee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #eeeeee); /* Standard syntax */

	margin-bottom : 30px;
}

.headerimage.image_included {
	margin-bottom: 60px;
}

.headerimage h1{
	font-size : 60px;
    margin-bottom: 25px;
    margin-top: 5px;  
}

.headerimage img {
	margin: auto;
  	margin-bottom : -60px;
}


/* *************
 *  Contrast boxes
 **************** */
.contrastbox {
	margin: 2%;
  margin: 15px;
	padding: 40px 40px;
}

.contrastbox:first-child {
	margin-left: 1%;
  margin-left : 15px;
}

.contrastbox:last-child {
	margin-right: 1%;
	margin-right : 15px;
}


.contrastbox, 
.contrastbox p, 
.contrastbox h1,
.contrastbox h2,
.contrastbox h3 {
	color : white;
    font-family: 'Montserrat', Helvetica , sans-serif !important;
  font-weight : 300;

}

.contrastbox h2 {
    font-family: 'Montserrat', Helvetica , sans-serif !important;
  font-weight : 300;

  font-size : 40px;
  line-height : 1.2;
  margin-top : 0;
}

.bluebox {
	background-color: #104e59;
}

.greenbox {
	background-color: #45a29b;
}


.bluebox .boxbtn,
.greenbox .boxbtn {
	margin-top : 20px;	
  text-align : center;
}

.bluebox .btn-dw-primary:hover, 
.bluebox .btn-dw-primary:focus, 
.bluebox .btn-dw-primary:active {
    background-color: white;
  	color : #104e59;
}
.greenbox .boxbtn .btn-dw-primary {
    background-color: #104e59;
}


.splitbox .figure {
	width: 57%;
  float : left;
}

.splitbox .productpagelist {
margin-left: 6%;
width: 32%;
float: left;
border-left: 1px solid white;
padding-left: 5%;
	
}

.splitbox .productpagelist-item {
	width : 100%;
}

.splitbox .productpagelist-item .row {
    padding-right: 0px;
}

.splitbox .productpagelist-item h4 {
    color: white;
    padding: 0;
    background-color: transparent;
    text-align: left;
    margin: 0px 0 10px;
text-transform: uppercase;  
}

.splitbox .productpagelist-item:last-of-type {
	display : none;
}

.figure ul > li {
	line-height : 1.4;
}


/* *************
 * Employee
 **************** */

.employee {
  text-align : center;
  min-height: 350px;
}


.employee a {
    position: relative;
    display: block;
    overflow: hidden;
    text-decoration: none;
}




.employee a.hovereffect:hover:before, 
.employee a.hovereffect:focus:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(256, 256, 256, 0.6);
}

.employee a.hovereffect:hover:after, 
.employee a.hovereffect:focus:after {
    content: url("../../../../Images/Calgros/mail-icon.png");
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    text-indent: 0;
    display: inline-block;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin: -2.5em;
    color: white;
}

.employee img {
    margin-left: auto;
    margin-right: auto;
}

/* *************
 *  Responsive small screen
 **************** */

@media (max-width: 1470px) { 


  	.carousel .carousel-inner {
		height : 300px;
	}

  
}

@media (min-width: 1000px) { 
	.carousel-caption {
    width : 750px;     
  } 
}

@media (max-width: 992px) { 
  
  .figure img {
    height: auto!important;
}
  
  .affix {
    position: static!important;
  }
  
  #mobilemenu {
	display : block;
    z-index : 1800;
}  
 
  #mobilemenu #navbar {
    z-index : 1900;   
    max-height: none !important;
    background: #45a29b;
  }
  
 .navbar-wp  #mobilemenu .navbar-nav li:first-child {
  	display : block;
  }  
  
 .navbar-wp  #mobilemenu .navbar-nav>li:first-child {
  	display : none;
  }    
  #mobilemenu .navbar-nav>li>.dropdown-menu li {
	    z-index : 2000;   
    padding : 0px;
    background-color : #d4eceb;
  }
  
  .navbar-wp .navbar-nav > li {
  	background-color : #104E59;  
  }
  
  .navbar-wp .navbar-nav > li > a {
  	background-color : #45a29b;
  }
  
  #myQuoteCarousel blockquote p {
        font-size: 15px;
  }
  
  
}

@media (max-width: 768px) { 
  
  .dw-header-sm-title {
  	font-size : 22px;
  }  
	.carousel .carousel-inner {
		height : 120px;
	}

    .carousel-inner h2 {
	    font-size: 18px;
    	margin: 10px 0;
	}
	.carousel-caption {
    	padding-top: 5px;  
    	padding-bottom: 5px;  
	}

.headerimage {
	margin-bottom: 30px;
}

.headerimage h1{
	margin: 0px;
	font-size: 34px;
}
 
  section.slice {
    padding: 5px 0;
	}
  
.centered_start {
    padding-top: 20px;
    padding-bottom: 20px;
}  
  
  .contact_form .columnCell {
  	width : 100%;
	display: block;
 }

  .contrastbox {
    margin: 0;
    padding: 20px;
}

  .contrastbox h2 {

    font-size: 30px;
  }

  .contrastbox:first-child,
  .contrastbox:last-child {
	margin-left: auto;
	margin-right: auto;
  }

  
.row.row-eq-height,
.row-eq-height .row {
  display: block;
}
  
  .splitbox .figure {
	width : 100%;
  float : none;
}

.splitbox .productpagelist {
	width : 100%;
  float : none;
    border-left: 0px solid white;
    padding-left: 0;	
    margin-left: 0;
  }

  
  .btn {
    white-space: normal;
  }
    
  
  #myQuoteCarousel .carousel-inner {
  	height: 350px!important;
  }
  
}
