

body * {
        visibility: hidden;
		
    }
    #invoice, #invoice * {
        visibility: visible;

    }
    #invoice {
  		
        left: 0px;
        top: 0px;
        position:absolute !important;
    }
    p {
        page-break-before: always;
    }
}


