.tt-suggestion {
  cursor: pointer;
}

.tt-suggestion .tt-img {
  float: left;
  width: 40px;
  margin-right: 10px;
}

.tt-suggestion .tt-price {
  margin-top: 2px;
  font-size: 12px;
}

.tt-suggestion .name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 6px;
}

.tt-suggestion:hover {
  background: #eee;
}

.tt-menu {
  top: 33px !important;
  border: 1px #79BD9A solid;
  width: 100%;
}